* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

/*Theming*/
.font-theme, h1, h2, h3, .newscard, .title, .ui-infolist, .ui-aboutui, .news-titlelogo-cont, .news-title-small, .modal-close, .settings-title, .settings-context, a:link, a:visited, .button, .news-title, .news-text, .news-text-contain {
	font-family: 'Roboto', sans-serif;
	color: white;
	text-decoration:none;
  -webkit-tap-highlight-color: white;
}
.UI-theme1,.container, #content, .modal-window>div, .webtoolbar  {
	background: #2c3138;
}
.UI-theme2, .slide,.newscard, .sidebar {
	background-color:#292d33;
}
.barUI-theme, .title, #Intrest, #games {
	background: #1f2227;
}
/*END*/

.card {
	border-radius:5px;
	box-shadow:0 0 2px 1px rgba(10,10,10,0.5);
}
.newscard {
	border-radius:5px;
  font-size: 100%;
	padding:0;
	box-shadow:0 0 2px 1px rgba(10,10,10,0.5);
	-webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
#fstoggle {
	z-index: 2;
}
.homeIcon-cont {
	border-radius:5px;
}

.container {
	height:100%;
	overflow:hidden;
}
.title {
	height:calc( calc( 3vh + 3vw ) / 2 );
	line-height:calc( calc( 3vh + 3vw ) / 2 );
	font-size: 1.4vw;
	border-radius:0;
	text-align:center;
}

.list {
	display: flex;
	height: calc( 100% - calc( calc( 3vh + 3vw ) / 2 ));
	background:none;
	border-radius:0;
	list-style:none;
	box-shadow: none;
	margin:0;
	padding:0;
}

.horizontal {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:flex-start;
	/*align-items: center;*/
  /*justify-content: center;*/
}

.virtical {
	flex-direction: column;
	align-content:stretch;
	overflow-y:auto;
	overflow-x:hidden;
	animation: fadein;
	animation-duration:0.8s;
}
#Newsfeed, #NewsSidebar, .homeIcon {
	z-index: 2;
}
.icon {
	display:inline-block;
	background: rgba(30,30,30,1);
	background-size: contain;
	background-repeat: no-repeat;
	width: calc( calc( calc( 129vw * 0.74 ) / 6) - 40px );
	height: calc( calc( calc( 129vw * 0.74 ) / 6) - 40px );
	overflow:hidden;
	margin:20px;
	-webkit-transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  -moz-transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  -o-transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.icon:hover {
	-webkit-box-shadow: 0 0 55px 4px rgba(133,109,242,0.5) inset, 0 0 16px 5px rgba(247,242,242,0.5) ;
  box-shadow: 0 0 55px 4px rgba(133,109,242,0.5) inset, 0 0 16px 5px rgba(247,242,242,0.5) ;
}

.slot {
	display:block;
	background: #3f454e;
	background-size:contain;
	background-repeat: no-repeat;
	color:rgba(200,200,200,1);
	margin:10px;
	-webkit-border-radius: 5px;
  border-radius: 5px;
	box-shadow: 0 0 1px 2px rgba(0,0,0,0.1);
}

.slot:hover {
	background: #272b31;
	background-size:contain;
	background-repeat: no-repeat;
	color:rgba(200,200,200,1);
}

.slot p {
	display: flex;
	align-items: center;
	justify-content:center;
	margin:0;
	margin-left: calc( calc( 6vh + 6vw ) / 2 );
	height: calc( calc( 6vh + 6vw ) / 2 );
	overflow:hidden;
}

.text {
	border-radius: 0;
	margin: 0;
	box-shadow: none;
	display: flex;
}

.text p {
	color: rgba(200,200,200,1);
	text-decoration: none;
	flex: 1;
	text-align: center;
}

.text p:hover {
	color: rgba(250,250,250,1);
}

.bold-text {
	font: normal normal bold 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(255,255,255,1);
	border-radius: 0;
	margin: 0;
	box-shadow: none;
	display: flex;
}

.icon, .slot, .text {
	cursor:pointer;
}

.test-button {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  margin: auto 8px;
  padding: 20px;
  overflow: hidden;
  border: 1px solid #018dc4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: url("../images/icons/home.svg"), #3498db;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: contain;
  background-size: contain;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}
.stage {
	display:block;
	margin:5px;
	padding:0;
	width: calc( 100% - 10px );
	height: calc( 90% - 10px - calc( calc( 3vh + 3vw ) / 2 ) );
	overflow:hidden;
}

.slider {
	display:block;
	position:relative;
	flex-direction: row;
	list-style:none;
	padding:0;
	margin:0;
	height:100%;
	width:100%;
	overflow-y:hidden;
	overflow-x:auto;
}

.slide {
	display:flex;
	position:absolute;
	flex-direction:column;
	top:0;
	left:0;
	margin:3% 5% 1% 5%;
	padding:0;
	width:90%;
	height:90%;
	overflow:hidden;
}

.inactive_slide {
	opacity:0;
	z-index:0;
	transition:0.5s;
}

.active_slide {
	opacity:1;
	z-index:1;
	transition:1s;
}

.slide_text {
	color: rgba(200,200,200,1);
}

.slide_image {
	position: absolute;
	width:16%;
	top:0;
	left:0;
}

.slide_title {
	width:78%;
	margin:0 0 0 0;
	padding:5% 0 5% 22%;
	font-size:14pt;
	background:rgba(0,0,0,0.2);
	background-repeat:no-repeat;
	background-size:contain;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.slide_content {
	flex:1;
	padding:5%;
	overflow:hidden;
}

.slider_controls {
	position:relative;
	bottom:0;
	left:0;
	width:100%;
	height:10%;
}

.slide_pip {
	display:inline-block;
	width:10px;
	height:10px;
	border-radius:5px;
	background:rgba(0,0,0,0.5);
	border: solid 1px rgba(0,0,0,0.5);
	box-shadow: 0 0 2px 2px rgba(0,0,0,0);
	margin:3px;
	transition:0.5s;
}

.slide_pip:hover, .pip_active {
	background:rgba(100,100,250,1);
	border: solid 1px rgba(120,120,120,1);
	box-shadow: 0 0 2px 2px rgba(100,100,250,0.8);
	transition:1s;
}

.pip_container {
	list-style:none;
	display:inline-flex;
	justify-content:center;
	align-items: center;
	width:80%;
	height:100%;
	margin:0;
	padding:0;
}

.slide_control {
	display:flex;
	justify-content: center;
	align-items: center;
	position:relative;
	top:0;
	height:100%;
	width:10%;
}

.back {
	float:left;
}

.forward {
	float:right;
}

.button {
	padding: 5px 0;
	cursor: pointer;
	text-align:center;
	border-radius:2px;
	cursor:pointer;
	transition:0.2s;
	text-decoration:none;
}

.button:hover {
	padding: 5px 0;
  background: #212529;
	color:rgba(200,200,200,1);
	transition:0.5s;
}
.button-menu {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  float: right;
  width: 13vw;
  padding: 5px 0;
	margin: 0;
  border: none;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgb(38, 42, 47);
}

.button-menu:hover {
  color: rgb(200, 200, 200);
  background: rgb(33, 37, 41);
  -webkit-transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  -moz-transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  -o-transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.button-menu-ui-cont {
	-webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 100%;
	height: 3vh;
  margin: auto;
  padding: 5px 0 10px;
  border: none;
}
.button-menu-UI {
	-webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
	width: 13vw;
	float: left;
  background: rgb(38, 42, 47);
}
.button-menu:hover {
	padding: 5px 0;
  background: #1c2023;
	color:rgba(200,200,200,1);
	transition:0.5s;
}
.news_button {
	width: 100px;
	align-self:flex-end;
}
.menu-ui-cont {
	-webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 100%;
	height: 3vh;
  margin: auto;
  padding: 5px 0 10px;
	overflow: hidden;
  border: none;
}

#gameframe {
	border:none;
	width:100%;
	height:calc(100vh - 90px);
	z-index: 2;
}

.homeIcon {
	background-size:contain;
	background-repeat:no-repeat;
	height:calc( calc( calc( 87vw * 0.18) * 0.20) - 8px );
	width: calc( calc( calc( 87vw * 0.18) * 0.20) - 8px );
	min-height:calc( calc( 250px * 0.20) - 8px );
	min-width: calc( calc( 250px * 0.20) - 8px );
	margin:4px;
	cursor:pointer;
}

.searchBar {
	background:rgba(40,40,40,1);
	color:#eea;
	height:calc( calc( calc( 87vw * 0.18) * 0.10) - 4px );
	margin: 2px;
	border:none;
	padding:0 0 0 1vw;
	border-radius:0.5vw;
}

.content-bg3 {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 100%;
  height: 60em;
  z-index: 1;
	bottom: 0;
  overflow: hidden;
  position:absolute;
  background: url("../images/bg/contentbg2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 100% 100%;
  -webkit-transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  -moz-transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  -o-transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-animation: fade-in-bottom 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-bottom 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
.feedItem {
	margin:20px;
}

.feedItemContent {
	display:flex;
	flex-direction:column;
	padding:20px;
}

.feedTitle {
	min-height:60px;
	display:flex;
	line-height:60px;
	justify-content:center;
	align-items:center;
	background-size:contain;
	background-repeat:no-repeat;
	padding:0 0 0 60px;
}
.msgcont {
	-webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
	display: flex;
	justify-content: center;
	align-items: center;
  width: 100vw;
  height: 100vh;
  border: none;
}
.msgcont2 {
	-webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
	display: block;
	justify-content: center;
	align-items: center;
  width: 100vw;
  height: 30vh;
  border: none;
}
.msgicon {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
	width: 100vw;
	height: 18vh;
  border: none;
  background: url("../images/icons/server-offline.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
	-webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;
	animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;
}
@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
.error-title {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: auto;
  padding: auto;
  border: none;
	width: 100vw;
	height: 11vh;
	font-family: 'Roboto', sans-serif;
	font-size: 7vh;
	position: relative;
	font-weight: bold;
	text-align: center;
  color: white;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
	-webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;
	animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;
}
@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

.content-bg-404 {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
	height:100%;
	width:99%;
	overflow: hidden;
  margin: 0 auto;
  padding: 0;
	bottom: 0;
  border: none;
  z-index:2;
  overflow: hidden;
  position:absolute;
	background: linear-gradient(323deg, rgba(22,22,24,0.8), rgba(30,30,105,0.9), rgba(33,33,54,0.8), rgba(25,12,58,0.85));
  background-size: 800% 800%;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	-webkit-animation: AnimationName 30s ease infinite;
	-moz-animation: AnimationName 30s ease infinite;
	animation: AnimationName 30s ease infinite;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 4%}
    50%{background-position:100% 97%}
    100%{background-position:0% 4%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 4%}
    50%{background-position:100% 97%}
    100%{background-position:0% 4%}
}
@keyframes AnimationName {
    0%{background-position:0% 4%}
    50%{background-position:100% 97%}
    100%{background-position:0% 4%}
}

.news-cont {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 96%;
  margin: auto;
  padding: 0 0 1.2em;
  border: none;
}
.news-text-contain {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 80%;
  margin: auto;
  padding: 1.5em 0;
  border: none;
	overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.8s both;
	animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.8s both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.news-text {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: auto;
  padding: auto;
  border: none;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.news-title {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 96%;
  margin: auto;
  padding: 1.5em 0;
  border: none;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.8s both;
	animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.8s both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.news-title-small {
	display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0px 0 0 15px;
	font-weight: bold;
	font-size: xx-large;
}
.newsicon-gw {
	display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
	width: 5vw;
	height: 9vh;
	overflow: hidden;
  border: none;
  background-image: url("../images/icons/GW-icon.png");
	background-size:contain;
	background-repeat:no-repeat;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.news-titlelogo-cont {
  display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: rgb(29, 125, 39);
	-webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
	-webkit-animation: slide-in-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.videoplayer-cont {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 52vw;
  height: 60vh;
  margin: 15px 0 0 15px;
  padding: auto;
  border: none;
  -webkit-border-radius: 4px;
  border-radius: 4px;
	overflow: hidden;
}
/*Popout*/
.modal-window {
  position: fixed;
  background-color: rgba(31, 32, 43, 0.76);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 90;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-window:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-window>div {
  width: 98vw;
  height:94%;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,0.3) ;
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.3) ;
	overflow: hidden;
}

.modal-close {
  font-size: 3.2vh;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 3vw;
	z-index: 90;
  text-decoration: none;
	user-select: none;
	user-drag: none;
	-webkit-user-drag: none
}

.modal-close:hover {
  color: #2196f3;
	cursor:pointer;
}

.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}
.wrapper {
  overflow-y: auto;
}
.wr-settings {
	width: 80%;
	float: left;
	height: 100%;
}
.wr-user {
	width: 100%;
	height: 98vh;
	overflow-y: hidden;
}
.sidebar {
	width: 20%;
	float: right;
	height: 100%;
	overflow-y: hidden;
}
.settings-title {
  font-size: 5vh;
	width: 66vw;
	height: 8vh;
	font-weight: bold;
	padding: auto;
  margin: 40px auto 40px 20px;
	overflow: hidden;
}
.ui-versioninfo {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
	position: relative;
	z-index: 2;
	width: 400px;
  min-height: 100px;
  margin: 10px auto auto;
	bottom: 0;
	left: 0;
	right: 0;
  border: none;
	font-size: 18px;
	color: white;
	text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.ui-aboutui {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
	position: relative;
	z-index: 2;
	width: 487px;
	height: 255px;
	margin: 5px auto auto;
  padding: 20px 0 0 30px;
	z-index: 2;
	bottom: 0;
	left: 0;
	right: 0;
  border: none;
	-webkit-border-radius: 5px;
  border-radius: 5px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgba(32, 38, 46, 0.58);
	backdrop-filter: blur(10px);
	-webkit-box-shadow: 0 0 2px 1px rgba(0,0,0,0.5) ;
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.5) ;
}
.UI-icon-cont2 {
	display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
	width: 5vw;
	height: 100%;
	overflow: hidden;
}
.settings-titlecont {
	display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
	position: fixed;
  margin: 10px 0 0;
}
.settings-context {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 90%;
  margin: 20px auto;
  padding: auto;
  border: none;
	text-align: left;
  -webkit-border-radius: 2px;
  border-radius: 2px;
	overflow: hidden;
}
.ui-icon-cont {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 3vw;
  height: 5vh;
  border: none;
	text-decoration: none;
	user-select: none;
	user-drag: none;
	-webkit-user-drag: none
}
.usermenu-cont {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
	display: flex;
  justify-content: center;
	width:15vw;
  height: auto;
	padding: 5px 0 0;
  border: none;
	overflow: hidden;
}
.line-spacer {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 70%;
  height: 0;
  margin: 8vh auto;
  border: 1px solid #4e5561;
}
.uiscroll {
	overflow-y: scroll;
}
.webtoolbar {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: flex;
  justify-content: left;
  align-items: left;
  width: 100%;
  height: 4vh;
  padding: 5px;
  overflow: hidden;
  border: none;
}
.wt-button {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  margin: auto 8px;
  padding: 20px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}
.wt-button-home {
  background: url("../images/icons/home.svg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: contain;
  background-size: contain;
}
.wt-button-home:hover {
  background: url("../images/icons/home.svg"), #33383e;background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: contain;
  background-size: contain;
}

.wt-button-back {
  background: url("../images/icons/back.svg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: contain;
  background-size: contain;
}
.wt-button-back:hover {
   background: url("../images/icons/back.svg"), #33383e;background-repeat: no-repeat;
   background-repeat: no-repeat;
   background-position: center center;
   -webkit-background-origin: padding-box;
   background-origin: padding-box;
   -webkit-background-clip: border-box;
   background-clip: border-box;
   -webkit-background-size: contain;
   background-size: contain;
}

.wt-button-refresh {
  background: url("../images/icons/refresh.svg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: contain;
  background-size: contain;
}
.wt-button-refresh:hover {
  background: url("../images/icons/refresh.svg"), #33383e;background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: contain;
  background-size: contain;
}    
