.app-bar-small {
	display:none;
}

.Backdrop {
	background:unset;
	position:unset;
	height:100%;
	width:100%;
}

.Backdrop center, .Backdrop center .unires-full, .Backdrop center .unires-full iframe {
	height: 100%;
	width: 100%;
}
