<div id="games"></div>
<script id="pagescript">
document.querySelector("#pageTitle").innerText = "Action";
buildMenu("#games","ActionGames","Icon",getList(window.gamesList,"genra","Action"));
</script>
