<div id="games"></div>
<script id="pagescript">
document.querySelector("#pageTitle").innerText = "Fighting/Sports";
buildMenu("#games","SportsGames","Icon",getList(window.gamesList,"genra","Fighting-Sport"));
</script>
