<div class="GWLogo"></div>
<div class="content-bg"></div>
<div id="New"></div>
<div id="PopularUpdates">
<div id="Popular"></div>
<div id="Updates"></div>
</div>
<div id="Intrest"></div>
<script id="pagescript">
document.querySelector("#pageTitle").innerText = "Home";
buildMenu("#New", "New_Games","Icon",getTopList(window.gamesList,"datePublished","dec").slice(0,6));

buildMenu("#Popular","Popular_Games","Card",getTopList(window.gamesList,"rating","dec").slice(0,9));

newsBits.forEach(function (item) {
	item.imagePath = getList(gamesList,"name", item.game)[0].imagePath;
});

var newsSlideshow = ["Gamer World"]
newsSlideshow.forEach(function (element, index, array) { array[index] = getTopList(getList(window.newsBits, "game", element), "datePublished","dec",function (item) { return new Date(item); })[0]; });
buildSlider("#Updates","News",getTopList(newsSlideshow,"datePublished","dec", function (item) { return new Date(item); }));

buildMenu("#Intrest","Games_Of_Interest","Icon",getList(window.gamesList,"interesting",true));
setTimeout( function () { document.querySelector("#content").style.filter = "blur(0px)"; }, 200);
</script>
