<div id="newsContainer" style="display:flex; flex-direction:row; justify-content:space-between; align-items:stretch; overflow:hidden; height:calc( 100vh - 90px ); width:100%;">
	<div id="Newsfeed" style="flex:1; margin:0; overflow:auto;"></div>
	<div id="NewsSidebar" style="width:18%; min-width:250px; margin:0;">
		<div id="AllSearch">
			<div class="homeIcon-cont homeIcon" style="background-image:url('./images/icons/home.svg')" onclick="linkProcess('news_player.html')"></div>
			<!--input type="text" class="card searchBar" value="search" /-->
		</div>
	</div>
</div>
<script id="pagescript">
document.querySelector("#pageTitle").innerText = "News";
buildMenu("#NewsSidebar","NewsFilter","Card",[
{ "name":"Gamer World","URL":"news_player.html?filter=game:Gamer_World","imagePath":'url("./images/icons/GW-icon.png")' },
]);

function feedItem (item,index) {
	var itemName = "news_"+item.game.slice(0,3)+index;
	var thisItem = elementPlace("#FeedList",itemName,"newscard feedItem","li");
	thisItem.ItemTitle = elementPlace("#"+itemName,null,"card title feedTitle","div");
	thisItem.ItemTitle.innerText = item.name;
	thisItem.ItemTitle.style.backgroundImage = item.imagePath;
	thisItem.content = elementPlace("#"+itemName,itemName+"_content","feedItem feedItemContent","div");
	thisItem.content.innerHTML = '<p class="date">'+new Date(item.datePublished).toLocaleDateString()+"</p>"+item.content;
	if ("string" == typeof(item.URL)) {
		thisItem.content.more = buttonAdd("#"+itemName+"_content",null,"Read More",function () {
			linkProcess(item.URL,"#Newsfeed");
		},"button news_button","div");
	}
}

var URL = window.lastCalledURL.slice(17);
if ("filter=" == URL.slice(0,7)) {
	// News Feed
	var filter = URL.slice(7).split(":");
	elementPlace("#Newsfeed","FeedList","list virtical","ul");
	if (("string" == typeof(filter[0])) && ("string" == typeof(filter[1]))) {
		getTopList(getList(window.newsBits,filter[0],addSpace(filter[1])),"datePublished","dec",function (item) { return new Date(item); }).forEach(feedItem);
	} else {
		console.log("bad input for filter:");
		console.log(filter);
	}
} else if ("page=" == URL.slice(0,5)) {
	// Load News Page
	getHTMLfrag(URL.slice(5),"#Newsfeed");
} else {
	// Default Feed
	elementPlace("#Newsfeed","FeedList","list virtical","ul");
	getTopList(window.newsBits,"datePublished","dec",function (item) { return new Date(item); }).forEach(feedItem);
}
</script>
