<div id="loader">
	<div id="PreloadAnimation">&#9762;</div>
	<div class="sk-cube-grid">
		<div class="sk-cube sk-cube1"></div>
		<div class="sk-cube sk-cube2"></div>
		<div class="sk-cube sk-cube3"></div>
		<div class="sk-cube sk-cube4"></div>
		<div class="sk-cube sk-cube5"></div>
		<div class="sk-cube sk-cube6"></div>
		<div class="sk-cube sk-cube7"></div>
		<div class="sk-cube sk-cube8"></div>
		<div class="sk-cube sk-cube9"></div>
	</div>
	<div id="PreloadProgress"></div>
	<div id="PreloadInfo">Loading...</div>
</div>
<script id="pagescript">
	var bar = elementPlace("#PreloadProgress","PreloadBar",null,"div");
	var loadingInfo = document.querySelector("#PreloadInfo");
	window.loadingProgress = 2; // debug value, normaly this should be 0
	window.gamesList.forEach(function (item,index) {
		var thisImage = elementPlace("#loader",null,"preloadImage","img");
		thisImage.src = item.imagePath;
		thisImage.onload = function () {
			window.gamesList[index].imagePath = "url("+item.imagePath+")";
			window.loadingProgress++;
			bar.style.width = Math.round((window.loadingProgress / window.gamesList.length) * 100)+"%";
			loadingInfo.innerText = "Loading: "+bar.style.width;
			if (window.loadingProgress == window.gamesList.length) {
				document.querySelector("#topbar").style.opacity = 1;
				document.querySelector("#loader").style.opacity = 0;
				document.querySelector("#loader").style.backdropfilter = "blur(0px)";
				getJavascript("./newsbits.json",function () { setTimeout(function () { document.querySelector("#content").style.filter = "blur(5px)"; linkProcess("./Menu.html"); },500); });
			}
		};
	});
</script>
