<div id="games"></div>
<script id="pagescript">
document.querySelector("#pageTitle").innerText = "Strategy";
buildMenu("#games","StrategyGames","Icon",getList(window.gamesList,"genra","Strategy"));
</script>
