<div id="games"></div>
<script id="pagescript">
document.querySelector("#pageTitle").innerText = "Shooter";
buildMenu("#games","ShooterGames","Icon",getList(window.gamesList,"genra","Shooter"));
</script>